/*

Atomic.css - A Modern UI Collection for Web Developers

Author: Jesus Otero.
Site: http://jesusoterogomez.com
Version: 0.0.1-pre-alpha

*/

// Defaults 
$border-radius:4px;

$color-disabled:#666;
$color-default:green;
$color-primary:blue;
$color-cancel:red;

$bg-disabled:#ccc;
$bg-default:green;
$bg-primary:#108EF2;
$bg-highlight:#37a6ff;

$bg-cancel:#F24C3D;


$highlight:#e75151;

$color-on-dark:#fff;
$color-on-light:#000;

$padding-default:8px 14px;
$padding-horizontal:14px;
$padding-vertical:8px;



/*UI Collection*/
.atomic{
	font:12pt 'Lato', sans-serif;
	transition: all 0.1s ease;
	&.button{
		font: 10pt 'Lato', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		outline: 0;
		border:none;
		border-radius:$border-radius;
		padding:$padding-default;
		color: $color-on-dark;
		background: $bg-primary;	
		cursor: hand;
		cursor: pointer;
		opacity: 1;
		&.disabled{
			color: $color-disabled;
			pointer-events:none;
			background: $bg-disabled;
			cursor: none;
		}
		&.accept{
			color: $color-on-dark;
			background: $bg-primary;			
		}
		&.cancel{
			color: $color-on-dark;
			background: $bg-cancel;
		}
		&:active{
			transform: scale(0.97,0.97);
		}
		&:hover{
			opacity: 0.95;

		}
	}
	&.dropdown{
		position: relative;
		vertical-align: top;
		width: auto;
		background: $bg-primary;
		color: $color-on-dark;
		text-transform: uppercase;
		font-size: 10pt;
		border-radius: $border-radius;
		display: inline-block;
		font-weight: 700;
		cursor: pointer;
		&:before{
			position: absolute;
			content: "";
			right: $padding-horizontal/1.5;
			top: 50%;
			margin-top: -3px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 4px 0 4px;
			border-color: #ffffff transparent transparent transparent;
		}
		& > span{
			position: absolute;
			opacity: 1;
			left: $padding-horizontal;
			top: $padding-vertical;
		}
		&:after{
			content: attr(data-placeholder);
			display: block;
			padding: $padding-default;
			margin-right: $padding-horizontal;
			visibility: visible;
			transition: all 0.3s ease;
		}
		ul{
			margin: 0;
			left: 0;
			position: relative;
			top: 0;
			z-index: 1000;
			visibility: hidden;
			opacity: 0;
			box-sizing:border-box;
			height: 0;
			transition: all 0.3s ease;
			li{
				opacity: 0;
				position: relative;
				top:100%;
				background: $bg-primary;
				padding: $padding-default;
				margin: 0;
				padding-right: $padding-horizontal*3;
				box-sizing:border-box;
				transition: all 0.3s ease;
				&:last-child{
					border-radius: $border-radius;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
				&:hover{
					background: $bg-highlight;
				}
				&.active{
					&:after{
						position: absolute;
						content: "";
						height: 8px;
						width: 8px;
						border-radius: 50%;
						top:50%;
						right: $padding-horizontal/1.5;
						margin-top: -4px;
						background: $color-on-dark;
					}
				}
			}

		}
		&.open{
			&:after,& span, &:before{
				opacity: 0.5;
			}
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;		
			ul{
				opacity: 1;
				position: relative;
				visibility: visible;
				li{
					opacity: 1;
				}
			}

		}			
		&.atomic-loaded{
			&:after{
				opacity: 0;
			}
		}
	}
	&.text{
		font: 12pt 'Lato', sans-serif;
		// font-weight: 700;
		// text-transform: uppercase;
		outline: 0;
		border:none;

		border-radius:$border-radius;
		padding:$padding-default;
		color: $color-on-light;
		background: #fff;
		border: 2px solid rgba(0,0,0,0.2);
		opacity: 1;
		transition: all 0.3s ease;
		&.disabled{
			color: $color-disabled;
			pointer-events:none;
			background: $bg-disabled;
			cursor: none;
		}
		&.accept{
			color: $color-on-dark;
			background: $bg-primary;			
		}
		&.cancel{
			color: $color-on-dark;
			background: $bg-cancel;
		}

		&:hover{
			border: 2px solid rgba(0,0,0,0.3);	


		}
		&:focus{
			opacity: 0.95;
			border: 2px solid $bg-primary;	
		}
	}
	&.timepicker{
		font: 12pt 'Lato', sans-serif;
		outline: 0;
		border:none;
		border-radius:$border-radius;
		padding:$padding-default;
		color: $color-on-light;
		background: #fff;
		border: 2px solid rgba(0,0,0,0.2);
		opacity: 1;
		transition: all 0.3s ease;
	}
	&.switch{
		display:inline-block;
		margin: 5px;
		width:2em;
		height:1em;
		position:relative;
		visibility:hidden;
		&:before{
			display:block;
			visibility:visible;
			content:'';
			width:100%;
			border-radius:40px;
			height:100%;
			border:3px solid $bg-disabled;
			transition:all 0.3s ease;

		}
		&:after{
			display:block;
			content:'';
			height:100%;
			width:50%;
			background:$bg-disabled;
			position:absolute;
			visibility:visible;
			margin:3px;
			transform:scale(.75,.75);
			left:0;
			top:0;
			border-radius:50%;
			transition:all 0.3s ease;
		}
		&:checked:after{
			left:50%;
			background:$bg-primary;
		}
		&:checked:before{
			border-color:$bg-primary;
		}
		&.flat{
			&:before{
				border-color: $bg-disabled;
				background: $bg-disabled;
			}
			&:after{
				// background: $color-on-dark;
				margin: 0;
				transform:scale(.6,.6);
			// background: rgba(255,255,255,0.4);
			border:3px solid rgba(0,0,0,0.3);
		}
		&:checked:after{
			border-color:$color-on-dark;
		}
		&:checked:before{
			background:$bg-primary;
			border-color:$bg-primary;
		}
	}
}
&.checkbox{
	display:inline-block;
	margin: 5px;
	width:1em;
	height:1em;
	position:relative;
	visibility:hidden;
	&:before{
		display:block;
		visibility:visible;
		content:'';
		width:100%;
		border-radius:$border-radius;
		height:100%;
		border:3px solid $bg-disabled;
		transition:all 0.3s ease;

	}
	&:after{
		display:block;
		content:'';
		height:100%;
		width:100%;
		position:absolute;
		margin: 3px;
		visibility:visible;
		transform:scale(.75,.75);
		left:0;
		top:0;
		background: transparent;
		border-radius:$border-radius/2;
		transition:all 0.3s ease;
	}
	&:hover:after{
		background:$bg-disabled;

	}
	&:checked:hover:after{
		background:$bg-primary;
	}
	&:checked:after{
		background:$bg-primary;
	}
	&:checked:before{
		border-color:$bg-primary;
	}
}

&.radio{
	display:inline-block;
	margin: 5px;
	width:1em;
	height:1em;
	position:relative;
	visibility:hidden;
	&:before{
		display:block;
		visibility:visible;
		content:'';
		width:100%;
		border-radius:50%;
		height:100%;
		border:3px solid $bg-disabled;
		transition:all 0.3s ease;

	}
	&:after{
		display:block;
		content:'';
		height:100%;
		width:100%;
		position:absolute;
		margin: 3px;
		visibility:visible;
		transform:scale(.75,.75);
		left:0;
		top:0;
		background: transparent;
		border-radius:50%;
		transition:all 0.3s ease;
	}
	&:hover:after{
		background:$bg-disabled;

	}
	&:checked:hover:after{
		background:$bg-primary;
	}
	&:checked:after{
		background:$bg-primary;
	}
	&:checked:before{
		border-color:$bg-primary;
	}
}
}