/* Defaults */
$border-radius:4px;

$color-disabled:#666;
$color-default:green;
$color-primary:blue;
$color-cancel:red;

$bg-disabled:#ccc;
$bg-default:green;
$bg-primary:#108EF2;
$bg-cancel:#F24C3D;

$color-on-dark:#fff;
$color-on-light:#000;

$padding-default:8px 14px;

$content-width:80%;
$content-min-width:980px;
body{
	width: 100%;
	position: relative;
	font:12pt 'Lato', sans-serif;
}
.content{
	width: $content-width;
	min-width: $content-min-width;
	margin: 0 auto;
	height: 100%;
	position: relative;
}
.section{
	padding:40px 0;
}
.atomic{
	font:12pt 'Lato', sans-serif;
}
.credits{
	display: none;
}


.header{
	background: #21262e;
	height: 280px;
	position: relative;
	.logo{
		background: url(../img/logo.png);
		width: 378px;
		display: block;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		height: 104px;
		left: 50%;
		margin-left: -(378px/2);
		margin-top: -(104px/2);
	}
	.tagline{
		position: absolute;
		bottom: 45px;
		width: 100%;
		h1{
			text-align: center;
			color: #fff;
			font-weight: 300;
			font-size: 11pt;
			opacity: 0.9;
			// text-transform: uppercase;
		}
	}
	nav{
		text-align: right;
		color:#fff;
		ul{
			padding-top: 20px;
			li{
				display: inline-block;
				margin: 10px;
			}
			.donate{
				background: #f3d661;
				padding: 6px 10px;
				color:#333;
				border-radius: $border-radius;
				font-weight: 700;
			}
		}
	}
}

//UI Elements

.button{
	&.atomic{
		outline: 0;
		border:none;
		border-radius:$border-radius;
		padding:$padding-default;
		&.disabled{
			color: $color-disabled;
			background: $bg-disabled;
		}
		&.accept{
			color: $color-on-dark;
			background: $bg-primary;			
		}
		&.cancel{
			color: $color-on-dark;
			background: $bg-cancel;
		}
		&:active{
			transform: scale(0.95,0.95);
		}	
	}

}