/* Defaults */
$border-radius:4px;

$color-disabled:#666;
$color-default:green;
$color-primary:blue;
$color-cancel:red;

$bg-disabled:#ccc;
$bg-default:green;
$bg-primary:#108EF2;
$bg-highlight:#37a6ff;

$bg-cancel:#F24C3D;


$highlight:#e75151;

$color-on-dark:#fff;
$color-on-light:#000;

$padding-default:8px 14px;
$padding-horizontal:14px;
$padding-vertical:8px;



$content-width:80%;
// $content-min-width:980px;
body{
	width: 100%;
	position: relative;
	font:12pt 'Lato', sans-serif;
}
input{
	font:12pt 'Lato', sans-serif;
}
.content{
	width: $content-width;
	max-width: 1200px;
	// min-width: $content-min-width;
	margin: 0 auto;
	height: 100%;
	position: relative;
	a{
		color: #e75151;
		font-weight: 700;
		text-decoration: none;
	}
	pre{
		margin: 5px 0;
		border:1px solid #ddd;
		width: 100%;
		border-radius: $border-radius;
	}
	p{
		padding:5px 0;
		code{
			border-radius: $border-radius;
			color: #333;
			background: #f8f8f8;
			padding: 1px 4px;
			border:1px solid #ddd;

		}
	}
}
.margin5{
	margin: 5px;
}
.section{
	padding-bottom: 20px;
	.section-title{
		border-left: 3px solid $highlight;
		padding: 5px 8px;
		position: relative;
		left: -8px;
	}
	h2.section-title{
		font-size: 14pt;
	}
}
.start{
	padding-top: 40px;
}
section{
	padding-bottom: 20px;
}
.credits{
	display: none;
}


.header{
	background: #1e242e;
	// background:#1b2331;
	height: 280px;
	position: relative;
	// overflow: hidden;
	.logo{
		background: url(../img/logo.png);
		width: 378px;
		display: block;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		height: 104px;
		left: 50%;
		margin-left: -(378px/2);
		margin-top: -(104px/2);
		transition: all 0.3s ease;
	}
	.tagline{
		position: absolute;
		bottom: 45px;
		width: 100%;
		h1{
			text-align: center;
			color: #fff;
			font-weight: 300;
			font-size: 11pt;
			opacity: 0.9;
			// text-transform: uppercase;
		}
	}
	nav{
		text-align: right;
		color:#fff;
		transition: all 0.3s ease;

		ul{
			padding-top: 20px;
			li{
				display: inline-block;
				margin: 10px;
				transition: all 0.3s ease;

			}
			.donate{
				background: #f3d661;
				padding: 6px 10px;
				color:#1e242e;
				border-radius: $border-radius;
				font-weight: 700;
				a{
					color:#1e242e;
				}
			}
		}
	}
}


.pitch{
	background: #eee;
	border-top: 3px solid #e75151;
	li{
		padding: 10px 0;
	}
}


.main{
	background: #eee;
}
.footer{
	background: #eee;

	height: 200px;
}
//UI Elements
.ib{
	display: inline-block;
}
.absolute{
	position: absolute;
}

@media only screen and (max-width: 980px){
	.header{
		nav{
			font-size: 10pt;
			text-align: center;
		}
		.logo{
			transform: scale(0.7,0.7);
		}
	}	
}